@import "tailwindcss";

/* Global body styles */
body {
  margin: 0;
  padding: 0;
  background: #ffff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  min-height: 100vh;
}

/* This ensures the gradient covers the whole page */
html, body, #root {
  min-height: 100vh;
}

/* Optional: Add some spacing to your main content */
main {
  padding-top: 1rem;
}

.box{
  width: 230px;
  background: #ffffff;
  border: 2px solid #ccc;
  cursor: pointer;
}